[submodule "third_party/verilog-ethernet"]
	path = third_party/verilog-ethernet
	url = https://github.com/alexforencich/verilog-ethernet.git
[submodule "third_party/corundum"]
	path = third_party/corundum
	url = https://github.com/corundum/corundum.git
